<h1>Welcome to the {{title}}</h1>

<h3>Menu</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegetarian</th>
    <th></th>
  </tr>
  @for(i of menuList; track $index){
    <tr [class.inStock]="i.soldOut == false" [class.outOfStock]="i.soldOut == true">
      <td>{{ i.name }}</td>
      <td>{{ i.category }}</td>
      <td>{{ i.price }}</td>
      <td>{{ i.vegetarian }}</td>
      @if (i.soldOut == false) {
        <td><button>Add {{i.name}} to cart</button></td>
      }
      @else {
        <td><button disabled>Add {{i.name}} to cart</button></td>
      }
    </tr>
  }
</table>
